/*A style sheet for Cat's Corner*/

@charset "UTF-8";

body {
	font-family: Verdana, sans-serif;
	background-color: black;
	color: white;
}

:link {
	color: lightpink;		
}

:visited {
	color: white;	
}

:hover {
	color: deeppink;	
}








